Package: opentictactoex
Priority: optional
Section: game
Maintainer: Can202 <mgoopazo@gmail.com>
Architecture: i386
Version: 0.5
Depends: libxcursor1
Description: a simple Tic Tac Toe to 2 Players
 a simple Tic Tac Toe to 2 Players

